body {
  margin: 0;
  background: #111;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#ui {
  background: #222;
  padding: 10px;
}

canvas {
  margin-top: 10px;
  border: 2px solid #444;
  max-width: 95vw;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

#controls {
  margin-top: 10px;
}
